<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> ชื่อ </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef> สินค้า </th>
      <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="userAddress">
      <th mat-header-cell *matHeaderCellDef> ที่อยู่ </th>
      <td mat-cell *matCellDef="let element"> {{element.userAddress}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> วิธีจัดส่ง </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> วันที่ส่งสินค้า </th>
      <td mat-cell *matCellDef="let element"> {{element.start}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> วันที่สินค้าถึงปลายทาง </th>
      <td mat-cell *matCellDef="let element"> {{element.end}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef> รายละเอียด </th>
      <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="province">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.province}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
