
.Register-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.full-width {
    width: 75%;
}
.half-width {
    width: 50%;
}
.quarter-width {
    width: 25%;
}

article {
    float: left;
    padding: 20px;
    width: 60%;
    background-color: transparent;
    height: 300px;
    margin: 50px;
  }
  
  nav {
    float: left;
    width: 250px;
    height: 600px;
    background: transparent;
    padding: 20px;
  }