<mat-toolbar color="accent">
  <mat-toolbar-row>
    <p class="a">เข้าสู่ระบบ</p>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <mat-card align="center">
    <form #userForm="ngForm">
      <mat-form-field>
      <input matInput type="text" name="userUsername" placeholder="username" [(ngModel)]="user.userUsername" #username>
      </mat-form-field>
      <br>
      <mat-form-field>
      <input matInput type="password" name="userPassword" placeholder="password" [(ngModel)]="user.userPassword" #username>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="login(user)">login</button>
  </mat-card>
  
</div>