div.preorder{
    background-color:rgb(179, 236, 250); 
    border: 2px solid black;
    padding: 30px;
    background-image: url("https://i.pinimg.com/originals/a4/eb/6b/a4eb6b66c1d4275a11763775f851977c.png");   
    background-repeat: no-repeat;
    background-position: center;
    background-size:300px 300px;
    
}
