div.preorder{
    color: black;
    background-color: transparent; 
    padding: 30px;
    background-image: url("https://www.picz.in.th/images/2018/10/28/37lAM9.png");   
    background-repeat: no-repeat;
    background-position: center;
    background-size:300px 300px;
    
}
nav {
    float: left;
    width: 250px;
    height: 600px;
    background: transparent;
    padding: 20px;
  }
